<h1 class="display-4 mb-4">{{title}}</h1>
<hr>
<div class="row mb-5" >
  <div class="col-md-6">
    <div class="row">
        <div [routerLink]="['/detalle', movies.results[0].id]"
              routerLinkActive="router-link-active"
              class="div-pic-1 col-md-12 pointer"
              [ngStyle]="{'background-image': 'url( '+ (movies.results[0] | pelisImg: 'backdrop') +')' }">
              <h4 class="titulo-movie-galeria">
                    {{movies.results[0].title}}
              </h4>
        </div>
        <div [routerLink]="['/detalle', movies.results[1].id]"
              routerLinkActive="router-link-active"
              class="div-pic-2 col-md-6 pointer"
              [ngStyle]="{'background-image': 'url( '+ (movies.results[1] | pelisImg: 'backdrop') +')' }">
            <h4 class="titulo-movie-galeria">
                  {{movies.results[1].title}}
            </h4>
        </div>
        <div [routerLink]="['/detalle', movies.results[2].id]"
            routerLinkActive="router-link-active"
            class="div-pic-2 col-md-6 pointer"
            [ngStyle]="{'background-image': 'url( '+ (movies.results[2] | pelisImg: 'backdrop') +')' }">
            <h4 class="titulo-movie-galeria">
                  {{movies.results[2].title}}
            </h4>
        </div>
    </div>
  </div>
  <div class="col-md-6">
      <div class="row">
        <div [routerLink]="['/detalle', movies.results[3].id]"
              routerLinkActive="router-link-active"
              class="div-pic-2 col-md-6 pointer"
              [ngStyle]="{'background-image': 'url( '+ (movies.results[3] | pelisImg: 'backdrop') +')' }"
              >
              <h4 class="titulo-movie-galeria">
                  {{movies.results[3].title}}
              </h4>
            </div>
        <div [routerLink]="['/detalle', movies.results[4].id]"
              routerLinkActive="router-link-active"
              class="div-pic-2 col-md-6 pointer"
              [ngStyle]="{'background-image': 'url( '+ (movies.results[4] | pelisImg: 'backdrop') +')' }"
              >
              <h4 class="titulo-movie-galeria">
                  {{movies.results[4].title}}
              </h4>
            </div>
        <div [routerLink]="['/detalle', movies.results[5].id]"
              routerLinkActive="router-link-active"
              class="div-pic-1 col-md-12 pointer"
              [ngStyle]="{'background-image': 'url( '+ (movies.results[5] | pelisImg: 'backdrop') +')' }"
              >
              <h4 class="titulo-movie-galeria">
                  {{movies.results[5].title}}
              </h4>
            </div>
      </div>
    </div>
</div>

