<div *ngIf="releases && populars && kidsPopulars; else spinner" class="fade-in">
  <div id="carouselExampleSlidesOnly" class="carousel slide imagenes" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" >
            <img [src]="kidsPopulars.results[0] | pelisImg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>{{kidsPopulars.results[0].title}}</h1>
              <p>{{kidsPopulars.results[0].overview | slice:0:250..}}</p>
            </div>      </div>
        <div class="carousel-item pointer" >
            <img [src]="populars.results[0] | pelisImg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" >
              <h1>{{populars.results[0].title}}</h1>
              <p>{{populars.results[0].overview | slice:0:250..}}</p>
            </div>      </div>
        <div class="carousel-item pointer" >
          <img [src]="releases.results[0] | pelisImg" class="d-block w-100 pointer" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>{{releases.results[0].title}}</h1>
            <p>{{releases.results[0].overview | slice:0:250..}}</p>
          </div>
        </div>
      </div>
  </div>
  <app-galeria [movies]="releases" title="Estrenos" ></app-galeria> 
  <app-galeria [movies]="populars" title="Populares" ></app-galeria> 
  <app-galeria [movies]="kidsPopulars" title="Estrenos para niños" ></app-galeria> 
</div>


<ng-template  #spinner>
  <div class="row justify-content-md-center m-5">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>


