<div class="row justify-content-center mb-5">
  <div class="col-sm-12 col-md-8">
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label text-center">Buscar:</label>
      <input
        [(ngModel)]="terminoBusqueda"
        name="busqueda"
        (keyup)="buscar()"
        type="text"
        class="form-control col-sm-10"
      />
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <ng-container *ngIf="_peliculasService.resultadosBusqueda; else loading">
    <div
      class="col-12 col-md-4 col-lg-3 mb-4"
      *ngFor="let resultado of _peliculasService.resultadosBusqueda"
    >
      <a class="" [routerLink]="['/detalle', resultado.id]">
        <img
          [src]="resultado | pelisImg: 'poster'"
          class="card-img-top"
          [alt]="resultado.title"
        />
      </a>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="row justify-content-center" *ngIf="loading">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</ng-template>
