.overflow-h{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;

}
.similares-carousel{
    width: 150px;
    position: relative;
    height: 100px;
    transition: all 5s;


}


.similares-carousel-img{
    position: absolute;
    top:0;
    width: 150px;
    transition: all 5s;
    cursor: pointer;
}

.similares-carousel-img img{
    
    width: 100%;
}
