/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
}

.whiteText-background{
	
	background-color:rgba(0,0,0, .4);
	border-radius:3px;
	padding: .5rem;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}