<div class="row mb-3">
  <div class="col-12">
    <button class="btn btn-dark" (click)="goBack()">Volver</button>
  </div>
</div>

<div class="row justify-content-center fade-in " *ngIf="pelicula">

  <div class="card mb-3" style="max-width: 780px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="pelicula | pelisImg:'poster'" class="card-img" [alt]="pelicula.title">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{pelicula.title}}</h5>
          <hr>

          <p class="card-text">{{pelicula.overview | slice:0:250}}...</p>
          <ng-container *ngFor="let tag of pelicula.genres| slice:0:3">
            <span class="badge badge-primary m-1">{{tag.name}}</span>
          </ng-container>


          <p class="card-text"><strong>Duracion: </strong><span class="badge badge-primary ">{{pelicula.runtime}} min</span></p>
          <p class="card-text"> <strong>Puntaje: </strong> <span class="badge badge-primary">{{pelicula.vote_average}} / 10 </span></p>
          <p class="card-text"><small class="text-muted"><strong>Fecha de estreno: </strong>{{pelicula.release_date}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="similares">
  <app-similares [similares]="similares['results']"></app-similares>
</div>
